@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.body__container {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1040px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

@import '../block/header';
@import '../block/about';
@import '../block/crystal';
@import '../block/stories';
@import '../block/setting';
@import 'media';