.popup__setting {
    background: #0F0C15A8;
    position: fixed;
    z-index: 22;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s;
    &-box {
        background: #353130E8;
        width: 689px;
        height: 672px;
        border-radius: 32px;
        scale: 0;
        transition: scale .6s;        
    }
    &-header {
        background: #222021ED;
        display: flex;
        border-radius: 32px 32px 0 0;
        padding: 15.66px 0 15.66px 32.05px;
        gap: 142.15px;
    }
    &-back {
        width: 90.56px;
        height: 48.61px;
        border-radius: 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }        
    }
    &-title {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;
        line-height: 39.01px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FAFAFA;
    }
    &.active {
        visibility: visible;
        opacity: 1;
        .popup__stories-box {
            scale: 1;
        }
    }
    &-main {
        padding: 35.17px 46.76px 64.17px 46.76px;
    }
    &-subtitle {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;      
        margin-left: 20px;  
    }
    &-item--color {
        display: none;
        border-radius: 0 0 20px 20px;
    }
    &-item--1 {
        border-radius: 20px 20px 0 0;
    }
    &-item--last {
        border-radius: 0 0 20px 20px;
    }
    &-item {
        position: relative;
        width: 595.47px;
        height: 66.27px;
        background: #222021ED;
        padding: 18.62px 0 18.62px 21.86px;
        margin-top: 7.21px;
        display: flex;
        align-items: center;
        gap: 24.51px;
        transition: all .6s;
        cursor: pointer;
        &:hover {
            background: #272626ed;
        }
        &--color {
            display: none;
            border-radius: 0 0 20px 20px;
        }
    } 
    &-icon {
        width: 29.04px;
        height: 29.04px;
    }
    &-name {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.38px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;
    }
    &-other {
        margin-top: 31.2px;
    }
    &.active {
        visibility: visible;
        opacity: 1;
        .popup__setting-box {
            scale: 1;
        }
    }
}
