.theme {
    background: #0F0C15A8;
    position: fixed;
    z-index: 22;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s;
    &__box {
        background: #353130E8;
        width: 500px;
        height: 560px;
        border-radius: 32px;
        scale: 0;
        transition: scale .6s;        
    }
    &__header {
        background: #222021ED;
        display: flex;
        border-radius: 32px 32px 0 0;
        padding: 15.66px 0 15.66px 32.05px;
        gap: 64.15px;
    }
    &__back {
        width: 60.56px;
        height: 38.61px;
        border-radius: 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }        
    }
    &__title {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;
        line-height: 39.01px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FAFAFA;
    }
    &__main {
        padding: 27.5px 31.5px;
        margin-top: 27px;
    }
    &__item {
        display: flex;
        align-items: center;
        width: 421.4px;
        height: 43.77px;      
        justify-content: space-between;
        gap: 2px;
        background-color: #222021;
        padding: 11px 10px;
        border-radius: 20px 20px 0 0;
        &:last-child {
            margin-top: 3px;
            border-radius: 0 0 20px 20px
        }
        &-text {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            line-height: 24.38px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #fff;
            margin-left: -50px;
        }
        &-border {
            width: 27.5px;
            height: 27.5px;
            border: 3px solid #fff;
            border-radius: 50%;
            // background: #fff;
            margin-left: 200px;    
            padding: 4px;
            cursor: pointer;
            &.active {
                background: #fff;
            }
        }
    }
    &.active {
        visibility: visible;
        opacity: 1;
        .theme__box {
            scale: 1;
        }
    }
}
// .active {
//     background: #fff;
//     padding: 10px;
// }